<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @order.errors.count, model: t('activerecord.models.order')) %>.</h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%=raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('.name') %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :address, t('.address_html') %><br>
    <%= f.text_area :address, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label t('.email') %><br>
    <%= f.email_field :email, size: 40 %>
  </div>
  <div class="field">
    <%= f.label t('.pay_type') %><br>
    <%= f.select :pay_type, 
        options_for_select(PayType.all.collect{|p| [t(p.title), p.title]}, @order.pay_type),
        prompt: t('.pay_prompt_html') %>
   </div>
  <div class="actions"> 
  <% if current_page?(new_order_path) %>
      <%= f.submit t('.submit') %>
  <% else %>
      <div class="field">
          <% if @order.ship_date %>
          <%    shipped = 1 %>
          <% else  %>
          <%    shipped = 0 %>
          <% end %>     
          <%= check_box_tag(:shipped) %>
          <%= label_tag(:shipped, "Подтвердить отгрузку") %> <br>
           Ship date: <%= @order.ship_date %> <br>
      </div>
      <%= f.submit 'Update Order' %>
  <% end %>    
  </div>
<% end %>
